.four{
    background-color: black;
    height: 490px;
    width: 1515px;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr  1fr;
}

.fr-ios{
    width: 200px;
    border-radius: 10px; 
    border: 2px;
    border-style: solid;
    border-color: white;
    margin-top: 30px;
}
