.header{
    max-width: 1200px;
    min-width: 1100px; 
    height: 530px;
    position: absolute;

    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.left-header{
    width: 30%;

}
.right-header{
    position: absolute;
    left: 69%;
}
.image{
    height: 60px;
    width: 200px;
    position: absolute;


}
.logo{   
     float: left;
    width: 50%;

}


.login-header{
padding-left: 500PX;
display: flex;
}
.hh{
    margin-top: 80px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
    margin-left: 30px;
    color: black;

}
.paragraph{
    font-size: 24px;
    font-weight: 300;
    width: 600px;
    margin-left: 30px;
    color: #6c6f7b;
}
.sign-up{
    padding-left: 25px;
    padding-right: 30px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: black;
    color:white;
    background-color: black;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    width: auto;
    
}
.login{
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    width: auto;
}
.food-image{
    width: 688px;
    height: 530px;
    
}
.header-first{
    left: 0;
    top: 0;
    margin-top: 60px;
    margin-left: 30px;
}
.search-head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.search{
    height: 58px;
    padding-left: 15px;
    padding-right: 160px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    border-color: rgb(246, 116, 68);
    border-style: solid;
    border-width: 2px 0px 2px 2px;
}
.location{
    border-style: solid;
    width: 100px;
    background-color: white;
    border-color: rgb(246, 116, 68);
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    font-size: 15px;
}
.find{
    background-color: rgb(246, 116, 68);
    border-color: rgb(246, 116, 68);
    border-style: solid;
    width: 110px;
    color: white;
    font-size: 18px;
}
.popular{
    margin-left: 30px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 15px;
    color: #b0b1b3;
}
.color{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 30px;
    margin-top: 10px;
}
.city1{
    color: #747578;
    font-size: 17px;
    font-weight: 900;
    padding-left: 10px;
}
.city2{
    color: #b0b1b3;
    font-size: 17px;
    font-weight: 900;
    padding-left: 10px;
}